@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: #12e521;
    --color-secondary: #5a2e35;
    --input-bg: #efeffa;
    --input-border: #dfdfe2;
    /* ... */
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-primary text-white font-semibold  shadow-md  focus:outline-none focus:ring-2 focus:ring-opacity-75;
  }
}

.banner_swiper .swiper-pagination-bullets {
  position: absolute;
  
}
.swiper.category_swiper {
  overflow: initial;
  width: 250px;
  height: 168px;
}