@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: #12e521;
    --color-secondary: #5a2e35;
    /* ... */
  }
}

.banner_swiper .swiper-pagination-bullets {
  position: absolute;
  
}